LakeshoreMarketConsumer/LakeshoreMarketConsumer/src/main/schema/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Order">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="link">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="action" type="xsd:string" />
              <xsd:element name="mediaType" type="xsd:string" />
              <xsd:element name="rel" type="xsd:string" />
              <xsd:element name="url" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="orderId" type="xsd:int" />
        <xsd:element name="customerId" type="xsd:int" />
        <xsd:element name="partnerId" type="xsd:int" />
        <xsd:element name="status" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
